name: Publish

on:
  push:
  # branches:
  #   - master
  pull_request:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: codebuddies/backend/cb-backend
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          dockerfile: Dockerfile
          workdir: cbv3_django_prototype
          tag_names: true

  deploy:
    runs-on: ubuntu-latest
    needs: [publish]
    steps:
      - name: Start Deployment
        uses: bobheadxi/deployments@master
        id: deployment
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: staging
          transient: true
          desc: Setting up staging deployment for ${{ steps.publish.outputs.tag }}

      - name: Finish Deployment
        uses: bobheadxi/deployments@master
        if: always()
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          env: ${{ steps.deployment.outputs.env }}
          env_url: https://stage-api.codebuddies.org
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
